body {
    display: flex;
    flex-direction: column;
}

#calculator {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

#buttons-container {
    display: flex;
    flex-wrap: wrap;
}

.calc-button {
    flex-basis: 25%;
}

#display {
    height: 100px;
    background-color: rgb(227, 227, 228);
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}